body {
    background-color: #F3F3F3;
}

#container {
    width: 1610px;
}

#canvas {
    background-color: azure;
    float: left;
}

#gameLog {
    height: 720px;
    overflow: scroll;
    width: 300px;
    background-color: white;
    padding: 10px;
    float: left;
    margin-left: 5px;
}