body {
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    margin: 0;
}

#control {
    position: fixed;
    width: 100%;
    height: auto;
    padding: 10px;
    background: black;
    opacity: 0.7;
    z-index: 100001;
    color: white;
}

#buttons {
    float: left;
}

#join {
    float: left;
}

#name-label {
    margin-left: 10px;
    margin-right: 10px;
}

#canvas {
    position: fixed;
    top: 0;
}

#game-log {
    overflow: scroll;
    min-width: 300px;
    float: left;
    margin-left: 10px;
}

#scores {
    position: fixed;
    margin-left: 10px;
    top: 40px;
    color: antiquewhite;
    font-size: 1.1em;
    font-weight: bold;
    z-index: 100001;
}
